.add-bill {
  margin-left: 20px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
}

.add-bill input,
.add-bill button,
.add-bill textarea {
  font-family: 'BenchNine', sans-serif;
  border-radius: 25px;
  margin-top: 20px;
  height: 25px;
  font-size: 20px;
  width: 120px;
  margin-left: 10px;
  margin-right: 10px;
}

.add-bill input,
.add-bill textarea {
  padding-left: 10px;
  border: 1px solid #D83D59;
  color: #D83D59;
  border-radius: 5px;
}

.add-bill input::placeholder,
.add-bill textarea::placeholder {
  color: #D83D59;
}

.add-bill button {
  border: none;
  background-color: #D83D59;
  color: #F4CCE2;
}

.add-bill button:hover,
.add-bill .active {
  cursor: pointer;
  border: 2px dashed #D83D59;
  background-color: #F4CCE2;
  color: #D83D59;
}

.add-bill .split {
  font-size: 10px;
}

.add-bill,
.add-bill-inputs,
.split-buttons,
.form-buttons {
  display: flex;
  flex-direction: column;
}

.inputs-and-splits,
.details-and-buttons {
  display: flex;
}

.add-bill textarea {
  height: 70px;
}

.add-bill .split-info {
  margin-left: 20px;
  font-family: 'BenchNine', sans-serif;
  font-size: 20px;
}

.add-bill-inputs,
.form-buttons {
  display: flex;
  flex-direction: row;
}

.add-bill .split,
.add-bill .duedate-input,
.add-bill textarea {
  width: 260px;
}

.add-bill .split {
  font-size: 20px;
}

.split-info {
  margin-top: 10px;
  padding-left: 25px;
  width: 260px;
}

.add-bill p {
  display: inline-block;
  margin-left: 10px;
}
